extends ../common/layout

block content
  div(class='container')
    div(class='row')
      div(class='col-lg-12')
        h3=title
    div(class='row')
      div(class='col-lg-12')
        p Fill out this form to login: