{% extends "_common/base.html" %}

{% import 'crud/macros.html' as crud %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Login - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block content %}
    {% call crud.centered_form_panel_row('Login', panel_class='panel-primary') %}
        <div>
            {{ wtf.quick_form(login_user_form, action=url_for('security.login'), method='post',
                        button_map=dict(submit='primary')) }}
        </div>
        <div style="margin-top: 30px">
            <a href="{{ url_for('security.forgot_password') }}">Forgot password</a>
        </div>
    {% endcall %}

{% endblock %}

