{% extends "_common/base.html" %}

{% import "_common/macros.html" as common %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Register - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block content %}
    {% call common.centered_form_panel_row('Register', panel_class='panel-primary') %}
        {{ wtf.quick_form(register_user_form, action=url_for('security.register'), method='post',
                        button_map=dict(submit='primary')) }}
    {% endcall %}
{% endblock %}