{% extends "_common/base.html" %}

{% import 'crud/macros.html' as crud %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Reset Password - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block content %}
    {% call crud.centered_form_panel_row('Reset Password', panel_class='panel-primary') %}
        {{ wtf.quick_form(reset_password_form, action=url_for('security.reset_password',
                   token=reset_password_token), method='post', button_map=dict(submit='primary')) }}
    {% endcall %}
{% endblock %}
