{% extends "_common/base.html" %}

{% block title %}
    {{ item_type_plural }} - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1>
                {{ item_type_plural }}
            <div class="btn-group">
                <a class="btn btn-primary" href="{{ url_for(new_endpoint) }}">New</a>
            </div>
            </h1>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
            {% if searchable_column_names %}
                <div class="input-group">
                    <input type="text" class="form-control"
                           placeholder="Search {{ searchable_column_names|join(', ') }}...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                </span>
                </div>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="list-group">
                {% for item in items %}
                    <a href="{{ url_for(view_endpoint, item_id=item.id) }}" class="list-group-item">
                        <h5 class="list-group-item-heading">{{ item }}</h5>
                        {% if item.details %}
                            <ul class="list-group-item-text list-unstyled small">
                                {% for detail in item.details %}
                                    <li>{{ detail }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
