{% extends "_common/base.html" %}

{% block title %}
    {{ item_type_plural }} - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1>
                {{ item_type_plural }}
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ url_for(new_endpoint) }}">New</a>
                </div>
            </h1>

        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 text-right">
            {% if searchable_column_names %}
                <form action="{{ request.path }}" method="GET">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control"
                               placeholder="Search {{ searchable_column_names|join(', ') }}..."
                               value="{{ request.args['search'] }}"
                               autofocus onfocus="var v = this.value; this.value = ''; this.value = v;">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Search</button>
                            </span>
                    </div>
                </form>
            {% endif %}

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="list-group">
                {% for item in items %}
                    <a href="{{ url_for(view_endpoint, item_id=item.id) }}" class="list-group-item">
                        <h5 class="list-group-item-heading">{{ item }}</h5>
                        {% if item.details %}
                            <ul class="list-group-item-text list-unstyled small">
                                {% for detail in item.details %}
                                    <li>{{ detail }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </a>
                {% else %}
                    {% if request.args['search'] %}
                        <p>No items matched your search query.</p>
                    {% else %}
                        <p>No items.</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
