{% macro centered_form_panel_row(heading, subheading=None, panel_class='') %}
    <div class="row form-row">
        <div class="col-xs-0 col-sm-2 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
            <div class="panel panel-default {{ panel_class }}">
                {% if heading or subheading %}
                    <div class="panel-heading">
                        {% if heading %}
                            <h4>{{ heading }}</h4>
                        {% endif %}
                        {% if subheading %}
                            <h6>{{ subheading }}</h6>
                        {% endif %}
                    </div>
                {% endif %}
                <div class="panel-body">
                    {{ caller() }}
                </div>
            </div>
        </div>
        <div class="col-xs-0 col-sm-2 col-md-3 col-lg-3"></div>
    </div>
{% endmacro %}
