{% extends "_common/base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% import 'crud/macros.html' as crud %}

{% block title %}
    New {{ item_type_singular|title }} - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'crud/_scripts.html' %}
    <script>
        js_button($('#btn_cancel'), function () {
            history.back();
        });
    </script>
{% endblock %}

{% block content %}

    {% call crud.centered_form_panel_row('New ' + item_type_singular, panel_class='panel-primary') %}
        <div>
            {{ wtf.quick_form(form, action=url_for(create_endpoint), method='post',
                button_map=dict(btn_save='primary')) }}
        </div>
    {% endcall %}

{% endblock %}

