{% extends "_common/base.html" %}

{% import 'bootstrap/wtf.html' as bootstrap %}

{% block title %}
    {{ item_name }} - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% include 'crud/_scripts.html' %}
    <script>
        js_button($('#btn_cancel'), function () {
            history.back();
        });

        js_button($('#btn_delete'), function () {
            delete_item(
                    '{{ url_for(delete_endpoint, item_id=item.id) }}',
                    '{{ item|string }}',
                    '{{ url_for(list_endpoint) }}'
            );
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ item_name }}</h3>
        </div>
    </div>

    {{ bootstrap.quick_form(form, action=url_for(update_endpoint, item_id=item.id), method='post',
        button_map=dict(btn_save='primary', btn_delete='danger')) }}

{% endblock %}
