extends common/layout

block content
  div(class='container')
    div(class='row')
      div(class='col-lg-12')
        h3=title
    div(class='row')
      div(class='col-lg-12')
        p You can pay your membership dues or make a one time donation securely with WePay.
    div(class='row')
      div(class='col-lg-12')
        table(class='table-nonfluid table-striped center-table')
          tr
            td(class='fat-cell')
              h4 Full Member Dues
            td
            td(class='fat-cell text-left')
              button(class='btn btn-default btn-primary', onclick='authorize(50, "Full Member", "dues")')
                | $50
          tr
            td(class='fat-cell')
              h4 Student Member Dues
            td(class='fat-cell')
            td(class='fat-cell text-left')
              button(class='btn btn-default btn-primary', onclick='authorize(35, "Student Member", "dues")')
                | $35
          tr
            td(class='fat-cell')
              h4 Associate Member Dues
            td(class='fat-cell')
            td(class='fat-cell text-left')
              button(class='btn btn-default btn-primary', onclick='authorize(20, "Associate Member", "dues")')
                | $20
          tr
            td(class='fat-cell')
              h4 Custom Dues
            td
              div(class='input-group')
                span(class='input-group-addon') $
                input(class='form-control', type='text', id='custom_dues', maxlength='10', size='4', placeholder='100.00')
            td(class='fat-cell text-left')
                button(class="btn btn-default btn-info", onclick='authorizeCustom($("#custom_dues").val(), "dues");')
                  | Pay
          tr
            td(class='fat-cell')
              h4 One Time Donation
            td
              div(class='input-group')
                span(class='input-group-addon') $
                input(class='form-control', type='text', id='custom_donation', maxlength='10', size='4', placeholder='50.00')
            td(class='fat-cell text-left')
                button(class="btn btn-default btn-info", onclick='authorizeCustom($("#custom_donation").val(), "donation");')
                  | Donate
          tr
            td(class='fat-cell text-left', colspan='3')
              div(class='checkbox')
                label
                  input(type='checkbox', id='pay_fee', value='pay_fee', checked)
                  | Add the service fee to my total (saves Splat Space money)

  script(type='text/javascript').
    function authorizeCustom(amount, purpose) {
      amount = parseFloat(amount);
      if (Number.isNaN(amount)) {
        alert('Please enter a dollar amount.');
        return;
      }
      authorize(amount, 'Custom', purpose);
    }

    function authorize(amount, description, purpose) {
      var payFee = $('#pay_fee').prop('checked');
      window.location.href = '#{uriPathPrefix}/wepay/authorize?amount=' + encodeURIComponent(amount)
      + '&description=' + encodeURIComponent(description)
      + '&purpose=' + encodeURIComponent(purpose)
      + '&payFee=' + payFee;
    }
