extends ../common/layout

block content
  include _top
  div(class='container-fluid')
    div(class='row')
      div(class='col-lg-12')
        h4 Membership
        ul
          li Since: #{member.membership_start.toLocaleDateString()}
          li Status: #{ucfirst(member.membership_status)}
          li Type: #{ucfirst(member.membership_type)}