extends ../common/layout

block content
  include _top
  div(class='container-fluid')
    div(class='row')
      div(class='col-sm-4')
        div(class='panel panel-default')
          div(class='panel-heading') Membership
          table(class='table')
            tr
              td Joined
              td #{member.membership_start.toLocaleDateString()}
            tr
              td Status
              td #{ucfirst(member.membership_status)}
            tr
              td Type
              td #{ucfirst(member.membership_type)}