extends ../common/layout

block title
  title Payments

block content
  - var activeTab = 'payments';
  include _top
  div(class='container-fluid')
    div(class='row')
      div(class='col-md-4')
        div(class='panel panel-default')
          div(class='panel-heading') Dues Payments
          table(class='table')
            if member.dues.length == 0
              tr
                td None
            else
              each dues in member.dues
                tr
                  td #{dues.payment.amount}
      div(class='col-md-4')
        div(class='panel panel-default')
          div(class='panel-heading') Security Deposits
          table(class='table')
            if member.securities.length == 0
              tr
                td None
            else
              each payment in member.securities
                tr
                  td #{payment.amount}
      div(class='col-md-4')
        div(class='panel panel-default')
          div(class='panel-heading') Donations
          table(class='table')
            if member.donations.length == 0
              tr
                td None
            else
              each payment in member.donations
                tr
                  td #{payment.amount}