{% extends "_common/base.html" %}
{% block head %}
    <title></title>
{% endblock %}

{% block body %}

    <h1>{{ config['DISMEMBER_SITE_NAME'] }}</h1>

    {% if current_user.is_authenticated() %}
        <h2>Things you can do:</h2>
        <ul>
            <li><a href="/users/me">View My Details</a></li>
            {% if current_user.member_type %}
                <li><a href="/users/wepay_dues">Pay Dues</a></li>
            {% endif %}
            {% if current_user.has_role('admin') %}
                <li><a href="/admin">Administration Dashboard</a></li>
            {% endif %}
        </ul>
    {% else %}
        <p>Please <a href="{{ url_for('security.login', next=request.path) }}">login</a> to use the system.
        </p>
    {% endif %}


{% endblock %}