{% extends "_common/base.html" %}
{% block content %}
    {% if current_user.is_authenticated() %}
        <h2>Things you can do:</h2>
        <ul>
            <li><a href="{{ url_for('user.me') }}">View My Details</a></li>
            {% if current_user.member_type %}
                <li><a href="{{ url_for('user.wepay_dues') }}">Pay Dues</a></li>
                <li><a href="{{ url_for('user.wepay_donation') }}">Make a Donation</a></li>
            {% endif %}
            {% if current_user.has_role('board') %}
                <li><a href="{{ url_for('user.me') }}">Board of Directors Reports</a></li>
            {% endif %}
            {% if current_user.has_role('admin') %}
                {#                <li><a href="{{ url_for('newadmin.index') }}">Administration Dashboard</a></li>#}
            {% endif %}
        </ul>
    {% else %}
        <p>Please <a href="{{ url_for('security.login', next=request.path) }}">login</a> to use the system.
        </p>
    {% endif %}
{% endblock %}