{% extends "_common/base.html" %}
{% block title %}
    Admin - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Administration</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <ul class="list_group">
                {% for endpoint, name in sections %}
                    <li class="list-group-item">
                        <a href="{{ url_for(endpoint) }}">{{ name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
