{% extends "_common/base.html" %}
{% block title %}
    Admin - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Administration</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-unstyled">
                {% for cv in crud_views %}
                    <li>
                        <span class="glyphicon {{ icons[cv.name] if cv.name in icons }}"/></span>
                        &nbsp;
                        <a href="{{ url_for(cv.endpoints['list_endpoint']) }}">{{ cv.item_type_plural }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
