{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}"/>
{% endblock %}
{% block navbar %}
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">{{ config['DISMEMBER_SITE_NAME'] }}</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if current_user.has_role('admin') %}
                        <li>
                            <a href="{{ url_for('admin.index') }}">Administration</a>
                        </li>
                    {% endif %}

                    {% if current_user.is_authenticated() and current_user.member_type %}
                        <li><a href="{{ url_for('user.wepay_dues') }}">Pay Dues</a></li>
                        <li><a href="{{ url_for('user.wepay_donation') }}">Donate</a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                Payment History <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ url_for('user.dues_history') }}">
                                    <span class="glyphicon glyphicon-user menu-icon"></span>Membership Dues</a>
                                </li>
                                <li><a href="{{ url_for('user.donation_history') }}">
                                    <span class="glyphicon glyphicon-gift menu-icon"></span>Donations</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated() %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle text-right" data-toggle="dropdown" role="button"
                               style="padding-top: 5px; padding-bottom: 5px;">
                                <ul class="list-unstyled">
                                    <li>{{ current_user.full_name|string }} <span class="caret"></span></li>
                                    <li><span class="small">{{ current_user.email|string }}</span>
                                        <span class="caret" style="visibility: hidden;"></span>
                                    </li>
                                </ul>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ url_for('user.me') }}">
                                        <span class="glyphicon glyphicon-list menu-icon"></span>My details</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('security.logout') }}">
                                    <span class="glyphicon glyphicon-log-out menu-icon"></span>Log out</a>
                                </li>
                            </ul>
                        </li>

                    {% else %}
                        <li>
                            <a href="{{ url_for('security.login', next=request.path) }}"><span
                                    class="glyphicon glyphicon-log-in menu-icon"></span>Login</a>
                        </li>
                        <li>
                            <a href="{{ url_for('security.register') }}"><span
                                    class="glyphicon glyphicon-pencil menu-icon"></span>Register</a>
                        </li>
                    {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="userinfo">
            <div class="col-md-12">
                {% with errors = get_flashed_messages(category_filter=['error']) %}
                    {% if errors %}
                        <div class="row">
                            <div class="col-md-12 alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                                <ul class="list-unstyled">
                                    {%- for msg in errors %}
                                        <li>{{ msg }}</li>
                                    {% endfor -%}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}

                {% with non_errors = get_flashed_messages_except(category_exclude_filter=['error']) %}
                    {% if non_errors %}
                        <div class="row">
                            <div class="col-md-12 alert alert-info alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                                <ul class="list-unstyled">
                                    {%- for msg in non_errors %}
                                        <li>{{ msg }}</li>
                                    {% endfor -%}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}