{% macro centered_form_panel_row(panel_heading, panel_class='') %}
    <div class="row form-row">
        <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
            <div class="panel panel-default {{ panel_class }}">
                <div class="panel-heading">
                    <h4>{{ panel_heading }}</h4>
                </div>
                <div class="panel-body">
                    {{ caller() }}
                </div>
            </div>
        </div>
        <div class="col-xs-0 col-sm-2 col-md-3 col-lg-4"></div>
    </div>
{% endmacro %}

{% macro dues_payment_history(paid_periods) %}
    <table class="table table-striped">
        <tr>
            <th>Period</th>
            <th>Payment Date</th>
            <th>Amount</th>
            <th>Method</th>
            <th>Reference</th>
        </tr>
        {% for p in paid_periods %}
            <tr class="{{ 'danger' if p.dues_payment.void }} {{ 'warning' if p.dues_payment.exception }}">
                <td>{{ p }}</td>
                <td>{{ p.dues_payment.created_at|date }}</td>
                <td>
                    {{ p.dues_payment.charged_amount|currency(p.dues_payment.paid_currency) }}
                    <ul class="list-unstyled">
                        {# Give (manual) voids precedence over exceptions (which could be transient) #}
                        {% if p.dues_payment.void %}
                            <li>
                                <span class="glyphicon glyphicon-warning-sign"></span>
                                <span class="small">This payment was voided</span>
                            </li>
                        {% elif p.dues_payment.exception %}
                            <li>
                                <span class="glyphicon glyphicon-warning-sign"></span>
                                <span class="small">{{ p.dues_payment.exception }}</span>
                            </li>
                        {% endif %}
                    </ul>
                </td>
                <td>{{ p.dues_payment.payment_method }}</td>
                <td>{{ p.dues_payment.payer_reference }}</td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}

{% macro donation_payment_history(donation_payments) %}
    <table class="table table-striped">
        <tr>
            <th>Payment Date</th>
            <th>Amount</th>
            <th>Method</th>
            <th>Reference</th>
        </tr>
        {% for p in donation_payments %}
            <tr class="{{ 'danger' if p.void }} {{ 'warning' if p.exception }}">
                <td>{{ p.created_at|date }}</td>
                <td>
                    {{ p.charged_amount|currency(p.paid_currency) }}
                    {% if p.void or p.exception %}
                        <ul class="list-unstyled" style="margin-bottom: 0px;">
                            {# Give (manual) voids precedence over exceptions (which could be transient) #}
                            {% if p.void %}
                                <li>
                                    <span class="glyphicon glyphicon-warning-sign"></span>
                                    <span class="small">This payment was voided</span>
                                </li>
                            {% elif p.exception %}
                                <li>
                                    <span class="glyphicon glyphicon-warning-sign"></span>
                                    <span class="small">{{ p.exception }}</span>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </td>
                <td>{{ p.payment_method }}</td>
                <td>{{ p.payer_reference }}</td>
            </tr>
        {% endfor %}
    </table>
{% endmacro %}
