{% extends "_common/base.html" %}

{% import 'user/_macros.html' as user %}

{% block title %}
    Dues - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Dues History</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if not paid_periods %}
                <p>
                    It doesn't look like you've made any dues payments yet. You'll need to make one soon to keep your
                    membership active.
                </p>
            {% else %}
                {{ user.dues_payment_history(paid_periods) }}
            {% endif %}
        </div>
    </div>
{% endblock %}