{% extends "_common/base.html" %}

{% import 'bootstrap/wtf.html' as bootstrap %}

{% block title %}
    Dues - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>Dues History</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% if not paid_periods %}
                <p>
                    It doesn't look like you've made any dues payments yet. You'll need to make one soon to keep your
                    membership active.
                </p>
            {% else %}
                <table class="table table-striped">
                    <tr>
                        <th>Period</th>
                        <th>Payment Date</th>
                        <th>Amount</th>
                        <th>Method</th>
                        <th>Reference</th>
                    </tr>
                    {% for p in paid_periods %}
                        <tr class="{{ 'danger' if p.dues_payment.void }}
                                   {{ 'warning' if p.dues_payment.exception }}">
                            <td>{{ p }}</td>
                            <td>{{ p.dues_payment.created_at|date }}</td>
                            <td>
                                {{ p.dues_payment.charged_amount|currency(p.dues_payment.paid_currency) }}
                                <ul class="list-unstyled">
                                    {# Give (manual) voids precedence over exceptions (which could be transient) #}
                                    {% if p.dues_payment.void %}
                                        <li>
                                            <span class="glyphicon glyphicon-warning-sign"></span>
                                            <span class="small">This payment was voided</span>
                                        </li>
                                    {% elif p.dues_payment.exception %}
                                        <li>
                                            <span class="glyphicon glyphicon-warning-sign"></span>
                                            <span class="small">{{ p.dues_payment.exception }}</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </td>
                            <td>{{ p.dues_payment.payment_method }}</td>
                            <td>{{ p.dues_payment.payer_reference }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}