{% extends "_common/base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    My User - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ current_user.full_name }} ({{ current_user.email }})</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Membership</h4>
                </div>
                <div class="panel-body">
                    {% if current_user.member_signup and current_user.member_type %}
                        Your membership was approved <strong>{{ current_user.member_signup|date }}</strong>.  Your
                        current membership type is <strong>{{ current_user.member_type }}</strong>, which
                        requires you to pay monthly dues of
                        <strong>{{ current_user.member_type.monthly_dues|currency(current_user.member_type.currency) }}</strong>.
                    {% else %}
                        You are not an active member of the organization.  Contact a board member to
                        join.
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Details</h4>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        {{ wtf.quick_form(form, action=url_for('.me_update'), method='post',
                    button_map=dict(update='primary')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}