{% extends "_common/base.html" %}

{% import 'bootstrap/wtf.html' as wtf %}
{% import 'common/macros.html' as common %}
{% import 'user/_macros.html' as user %}

{% block title %}
    My User - {{ config['DISMEMBER_SITE_NAME'] }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
        <h4>Membership</h4>
            {% if current_user.member_signup and current_user.member_type %}
                Your membership was approved <strong>{{ current_user.member_signup|date }}</strong>.  Your
                current membership type is <strong>{{ current_user.member_type }}</strong>, which
                requires you to pay monthly dues of
                <strong>{{ current_user.member_type.monthly_dues|currency(current_user.member_type.currency) }}</strong>
                .
            {% else %}
                You are not an active member of the organization.  Contact a board member to
                join.
            {% endif %}
        </div>
    </div>

    {% call common.centered_form_panel_row('My Details', panel_class='panel-primary') %}
        {{ wtf.quick_form(form, action=url_for('.me_update'), method='post',
                    button_map=dict(update='primary')) }}
    {% endcall %}
{% endblock %}