{% extends "_common/base.html" %}

{% import 'user/_macros.html' as user %}

{% block title %}
    Make a Donation with WePay
{% endblock %}

{% block content %}

    <h3>Make a Donation with WePay</h3>

    {% if not current_user.member_type %}
        <div class="row">
            <div class="col-md-12">
                <p>
                    You don't appear to be an active member of {{ config['DISMEMBER_ORG_NAME'] }}, but donations
                    are still appreciated. If you would like to start or resume your membership, please contact a
                    member of the board or directors.
                </p>
            </div>
        </div>
    {% else %}
        {# Notice that donations are not dues #}
        <div class="row">
            <div class="col-md-12">
                <p>
                    You are an active member of {{ config['DISMEMBER_ORG_NAME'] }}. We appreciate donations
                    from members, but remember that donations cannot be used to cover membership dues. Visit the
                    <a href="{{ url_for('.wepay_dues') }}">membership dues</a> page to make dues payments.
                </p>
            </div>
        </div>
    {% endif %}

    {% call user.centered_form_panel_row('Amount', panel_class='panel-primary') %}
        <form class="form" name="dues" method="GET" action="{{ url_for('.wepay_donation_authorize') }}">
            <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" name="amount" value="50.00"/>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="pay_fee" value="true" checked="true"/>
                    Add the service fee to my total (saves {{ config['DISMEMBER_ORG_NAME'] }} money)
                </label>
            </div>

            <button class="btn btn-primary" type="submit">Donate with WePay</button>
        </form>
    {% endcall %}

    {# Recent payments #}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Your Recent Donations</h4>
        </div>
        <div class="panel-body">
            {{ user.donation_payment_history(recent_donation_payments) }}
        </div>
    </div>
    <div class="col-xs-0 col-sm-2"></div>


{% endblock %}