{% extends "_common/base.html" %}
{% block head %}
    <title>My Details</title>
{% endblock %}

{% block body %}

    <h1>My Details</h1>

    <h4>Contact Information</h4>
    <ul>
        <li>Email: {{ current_user.email }}</li>
        <li>Full name: {{ current_user.full_name or '' }}</li>
        <li>Phone: {{ current_user.phone or '' }}</li>
        <li>Address: {{ current_user.address or '' }}</li>
        <li>Emergency contact: {{ current_user.emergency_contact or '' }}</li>
    </ul>

    <h4>Membership</h4>
    <ul>
        <li>Signed up: {{ current_user.member_signup or 'Not yet' }}</li>
        <li>Type: {{ current_user.member_type or 'Not a member' }}</li>
    </ul>

{% endblock %}