{% extends "_common/base.html" %}
{% block head %}
    <title>Pay Dues with WePay</title>
{% endblock %}

{% block body %}

    <h1>Pay Dues with WePay</h1>

    {% if not current_user.member_type %}
        <p>
            You don't appear to be an active member of {{ config['DISMEMBER_ORG_NAME'] }}, so there are no dues to
            pay!
        </p>
    {% else %}
        <p>
            Your membership type is {{ current_user.member_type }}, at {{ monthly_dues }} per month.
        </p>
        {% if not recent_paid_periods %}
            <p>
                It doesn't look like you've made any dues payments yet. You'll need to make one soon to keep your
                membership active.
            </p>
        {% else %}
            <p>
                Your recent dues payments:
            </p>
            <ul>
                {% for dues_payment_period in recent_paid_periods %}
                    <li>{{ dues_payment_period }}
                        ({{ dues_payment_period.dues_payment.payment_type }}
                        {{ dues_payment_period.dues_payment.payer_reference }},
                        {{ dues_payment_period.dues_payment.paid_amount_str }})
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <form name="dues" method="GET" action="{{ url_for('users_wepay_dues_authorize') }}">
            <p>
                Choose the months to pay for:
            </p>
            <ul>
                {% for month in payable_months %}
                    <li>
                        <input type="checkbox" name="month" value="{{ month }}" {{ 'checked="checked"' if loop.first }}">
                        {{ month }}
                        </input>
                    </li>
                {% endfor %}
            </ul>
            <p>
                <input type="checkbox" name="pay_fee" value="true" checked="true">
                Add the service fee to my total (saves {{ config['DISMEMBER_ORG_NAME'] }} money)
                </input>
            </p>

            <p>
                <input type="submit" value="Pay Dues">
            </p>
        </form>

    {% endif %}

{% endblock %}