{% extends "_common/base.html" %}
{% block head %}
    <title>Make a Donation with WePay</title>
{% endblock %}

{% block body %}

    <h1>Make a Donation with WePay</h1>

    {% if not current_user.member_type %}
        <p>
            You don't appear to be an active member of {{ config['DISMEMBER_ORG_NAME'] }}, but donations
            are still appreciated. If you would like to start or resume your membership, please contact a
            member of the board or directors.
        </p>
    {% else %}
        <p>
            You are an active member of {{ config['DISMEMBER_ORG_NAME'] }}. We appreciate donations
            from members, but remember that donations cannot be used to cover membership dues. Visit the
            <a href="{{ url_for('users_wepay_dues') }}">membership dues</a> page to make dues payments.
        </p>
        {% if recent_donation_payments %}
            <p>
                Your recent donations (thank you!)
            </p>
            <ul>
                {% for pmt in recent_donation_payments %}
                    <li>{{ pmt.paid_amount_str }} on {{ iso_date(pmt.created_at) }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}

    <form name="dues" method="GET" action="{{ url_for('users_wepay_donation_authorize') }}">
        <p>
            Amount (USD):
            <input type="text" name="amount" value="50.00"/>
        </p>
        <p>
            <input type="checkbox" name="pay_fee" value="true" checked="true">
            Add the service fee to my total (saves {{ config['DISMEMBER_ORG_NAME'] }} money)
            </input>
        </p>
        <p>
            <input type="submit" value="Donate with WePay">
        </p>
    </form>


{% endblock %}