body {
    margin: 20px;
}

.center-table {
    margin: 0 auto !important;
    float: none !important;
}

.fat-cell {
    padding: 1em;
}

.input-group-addon {
    background-color:#FFF;
}

.menu-icon {
    padding-right: 10px;
}

.form-row {
    margin-top: 2em;
    margin-bottom: 2em;
}