{% extends "_common/base.html" %}
{% block head %}
    <title>{{ title }} - {{ config['DISMEMBER_SITE_NAME'] }}</title>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h3>{{ title }}</h3>
        </div>
    </div>

    <form class="form-group" action="{{ url_for(create_endpoint, item_id=item.id) }}" method="post">
        <fieldset>
            {% for field in form %}
                <div class="form-group">
                    {% if field.id != 'csrf_token' %}
                        {{ field.label() }}
                    {% endif %}
                    {{ field(class="form-control") }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-info">Create</button>
                            <button type="button" class="btn btn-default" onclick="history.back();">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>

{% endblock %}

